<div class="receipt-container">
  <mat-form-field appearance="legacy">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="amount" type="number">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Currency</mat-label>
    <mat-select>
      <mat-option [value]="currency" *ngFor="let currency of currencies">{{currency}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
